<h1 class="alert alert-info" role="alert">詳細ページ</h1>
<div class="flex-container container-margin">
  <ul class="list-group">
    <li class="list-group-item"><%= image_tag @feed.image.url %></li>
  <li class="list-group-item"><strong>本文:　</strong>
  <%= @feed.content %></li>
</div>
